data/
results/
_pycache_/



# # Logs
# logs
# *.log
# npm-debug.log*
# yarn-debug.log*
# yarn-error.log*
# pnpm-debug.log*
# .npm

# # Editor directories and files
# .idea/
# .vscode/
# *.suo
# *.ntvs*
# *.njsproj
# *.sln
# *.sw?
# *.swp

# # OS specific files
# .DS_Store
# Thumbs.db

# Environment variables
/.env


# Cache and temporary files
# .cache/
# .temp/
# .bun.lockb
# /frontend/bun.lockb